:root {
  --dark-green: #006d77;
  --light: #edf6f9;
  --orange: #e29578;
  --hover-orange: #c55f39;
}

* {
  font-family: "Neucha";
}
html,
body {
  color: var(--light);
  background-color: var(--light);
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  padding: 20px;
  width: 100%;
  background-color: var(--dark-green);
}
main {
  flex-grow: 1 1 100%;
  overflow-y: auto;
  padding: 20px;
}

.result-container {
  height: 100%;
}
.container h1 {
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-align: left;
  display: block;
  padding-left: 10px;
  font-size: 4vw;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
}

.songNameDiv {
  flex-shrink: 2;
  max-width: 195px;
}

.artistDiv {
  flex-shrink: 1;
  max-width: 350px;
}

.inputText {
  border-radius: 10px;
  border: none;
  padding: 20px;
  margin: 5px;
  background-color: #ffeae3;
  height: 30px;
}

button {
  width: 100px;
  height: 45px;
  background: var(--orange);
  color: white;
  border-radius: 10px;
  font-size: 20px;
}

button:hover {
  background-color: var(--hover-orange);
}

#rctSrchContainer {
  display: flex;
  margin: 0.5rem 0;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
}

#recentSrchEl {
  border: none;
  margin: 5px;
  flex: 0 1 30%;
  width: 30%;
  height: 40px;
  padding-left: 20px;
  margin-top: 20px;
  float: left;
  background-color: #ffeae3;
  font-size: 1.5vmax;
  color: #8e8e8e;
  border-radius: 15px;
  width: 400px;
}

.toggleDiv {
  margin-top: 20px;
  margin-left: 20px;
}

.slideToggle {
  --toggleWidth: 60px;
  --toggleHeight: calc(var(--toggleWidth) / 2);
  --toggleRadius: calc(var(--toggleHeight) / 2);
  display: inline-block;
  cursor: pointer;
  margin: 0px 10px;
}

.slideToggle_input {
  display: none;
}

.slideToggle_fill {
  position: relative;
  top: var(--toggleRadius);
  width: var(--toggleWidth);
  height: var(--toggleHeight);
  border-radius: var(--toggleRadius);
  background: #dddddd;
  transition: 0.2s;
  display: inline-block;
  padding-top: 15px;
}

.slideToggle_input:checked ~ .slideToggle_fill {
  background: #009578;
}

.greeting-margin h1 {
  text-align: center;
  padding: 0 0 20px 0;
}

.results-heading {
  margin: 20px;
  text-align: center;
}

.slideToggle_fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--toggleHeight);
  width: var(--toggleHeight);
  border-radius: var(--toggleRadius);
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s;
}

.slideToggle_input:checked ~ .slideToggle_fill::after {
  transform: translateX(var(--toggleHeight));
}

.boxes-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  height: 100%;
}

.lyric-text-div {
  flex: 0 1 65%;
}

#song,
#artist {
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}

#copyBtn {
  float: right;
  font-size: 15px;
  width: 100px;
  height: 50px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--orange);
}

#copyBtn:hover {
  background-color: var(--hover-orange);
}

.lyric-text {
  white-space: pre;
  cursor: pointer;
  padding-top: 3px;
  margin-top: 20px;
  font-size: 2vw;
}

.lyric-text span:hover {
  background-color: #45575c;
}

/* modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  /*height: 200px;*/
  border-radius: 20px;
  background-color: rgba(32, 6, 163, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  background-color: rgb(4, 4, 87);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 50%;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

#modal {
  background-color: rgb(40, 40, 40);
  color: white;
  height: 220px;
}

#modalField {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal p {
  margin: 0;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.words-box {
  flex: 0 2 30%;
}

.card {
  max-height: 100%;
  color: #022c49;
  background-color: #cbedf7;
  border: 2px #022c49 solid;
  padding: 20px 2px 10px 2px;
  border-radius: 15px;
  letter-spacing: 2px;
  font-size: 2.5vw;
  line-height: 2.8vw;
  overflow-x: auto;
  overflow-y: auto;
}

.highLightColor {
  background-color: #2a6f97;
  color: black;
}

.changedColor {
  background-color: lightseagreen;
  color: black;
}

.wordDiv {
  margin: 1rem 0;
  max-height: 33vh;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #d3d3d39f;
  font-size: 2vw;
}

.hide {
  display: none;
}

span {
  margin: 0 10px;
  font-size: 2vw;
}

li {
  cursor: pointer;
  font-size: 2vw;
}
@media screen and (max-width: 768px) {
  .card {
    flex-direction: column;
    min-width: 100%;
  }
  .toggleDiv {
    flex-direction: column;
    min-width: 100%;
  }
  span,
  .card,
  .wordDiv,
  li,
  #song,
  #artist {
    font-size: 3.5vw;
    line-height: 1.5;
  }
}

@media screen and (max-width: 600px) {
  .form {
    flex-direction: column;
  }
  .artistDiv {
    min-width: 200px;
  }
  #recentSrchEl {
    width: 100%;
  }
  span,
  .card,
  .wordDiv,
  li,
  #song,
  #artist {
    font-size: 3.5vw;
    line-height: 1.5;
  }
}
