* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Gochi Hand", cursive;
    background-color: rgb(40, 40, 40);
    color: white;
}

header {
    padding: 30px;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 200px;
    width: 100%;
}

.container h1 {
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-align: left;
}

.inputtext {
    border-radius: 10px;
    border: none;
}
#songName,
#artistName {
    width: 500px;
    height: 45px;
    padding-left: 10px;
}

span {
    font-size: 25px;
    margin: 0 10px;
}

button {
    width: 100px;
    height: 45px;
    background: cornflowerblue;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

button:hover {
    background-color: turquoise;
}

.boxes-div {
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
}

.lyric-text {
    white-space: pre;
    cursor: pointer;
    padding-top: 3px;
    margin-top: 20px;
}

.lyric-text-div {
    border: 2px white solid;
    flex: 1;
    margin-right: 20px;
    height: 90%;
    
}

.lyric-text span:hover {
    background-color: cyan;
}

/* .words-box {
    
} */

.words-box,
.lyric-text-div {
    
    border: 2px white solid;
    border-radius: 10px;
    flex: 1;
    padding: 20px;
    line-height: 25px;
    max-height: 80vh;
    overflow-y: auto;
    margin-top: 10px;
}
#song,
#artist {
    font-size: 25px;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
}
h2 {
    font-size: 25px;
}
.wordDiv {
    margin: 1rem 0;
    max-height: 33vh;
    overflow-y: auto;
}
.highLightColor {
    background-color: yellow;
    color: black;
}
.changedColor {
    background-color: lightseagreen;
    color: black;
}
#copyBtn {
    float: right;
    font-size: 15px;
    width:150px;
    height:50px;
    /* width: fit-content; */
    padding: 5px;
    cursor: pointer;
    font-family: "Roboto Condensed", sans-serif;
    /* margin:3px; */
}
#copyBtn:hover {
    background-color: blue;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px; 
    height: 200px;
    border-radius: 20px;
    background-color: rgba(32, 6, 163, 0.4); 
    
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    background-color: rgb(4, 4, 87);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    height: 50%;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
