:root {
  --mountains: #4F6457;
  --sky: #75B1A9;
  --sunglow: #D9B44A;
  --mist: #ACD0C0;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #413F3D;
  background-color: #F2F1EF;
}

header {
  padding: 30px;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  width: 100%;
  background-color: #B1a6A4;
}

.container h1 {
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-align: left;
  display: block;
}

/* .container {
  display: flex;
  flex-wrap: wrap;
} */

.inputText {
  border-radius: 10px;
  border: none;
  padding: 20px;
  margin: 5px;
  width: 25%;
}
/* #songName,
#artistName {
  width: 500px;
  height: 45px;
} */

span {
  font-size: 25px;
  margin: 0 10px;
}

button {
  width: 100px;
  height: 45px;
  background: #697184;
  color: white;
  border-radius: 10px;
  font-size: 20px;
}

button:hover {
  background-color: #45575c;
}

.boxes-div {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}

.lyric-text {
  white-space: pre;
  cursor: pointer;
  padding-top: 3px;
  margin-top: 20px;
}

.lyric-text span:hover {
  background-color: #45575c;
}

.words-box,
.lyric-text-div {
  border: 2px white solid;
  border-radius: 15px;
  flex: 1;
  padding: 20px;
  line-height: 25px;
  max-height: 80vh;
  overflow-y: auto;
}

#song,
#artist {
  font-size: 25px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
}

h2 {
  font-size: 25px;
}

.search-btn-div {
  padding-top: 10px;
  margin: 10px;
}

.results-heading {
  margin: 20px;
  text-align: center;
  /* color: ; */
}

.card {
  padding: 10px;
  flex: 0 1 40%;
  color: #F2F1EF;
  background-color: #697184;
  border: 2px #697184 solid;
  border-radius: 15px;
  padding: 20px;
  line-height: 25px;
}
.wordDiv {
  margin: 1rem 0;
  max-height: 33vh;
  overflow-y: auto;
}
.highLightColor {
  background-color: yellow;
  color: black;
}
.changedColor {
  background-color: lightseagreen;
  color: black;
}

#rctSrchContainer {
  display: block;
  margin: 0.5rem 0;
}

#recentSrchEl {
  border-radius: 15px;
  width: 400px;
  padding: 0.75rem 0.5rem;
}
@media screen and (max-width: 700px) {
  .card {
    flex-direction: column;
    min-width: 350px;
  }
}


.wordDiv {
  margin: 1rem 0;
  max-height: 33vh;
  overflow-y: auto;
}
.highLightColor {
  background-color: yellow;
  color: black;
}
.changedColor {
  background-color: lightseagreen;
  color: black;
}

#rctSrchContainer {
  display: block;
  margin: 0.5rem 0;
}

#recentSrchEl {
  border-radius: 15px;
  width: 400px;
  padding: 0.75rem 0.5rem;
}